/*=======================================
Custom CSS: Global CSS Tweaks that are NOT an extension / modification of the bootstrap framework
==========================================*/

.wmsPurple {
	color: #543192;
}

.wms_indent {
	padding-left: 40px;
}

.wms_bold {
	font-weight: bold;
}

a.wms_bold_nav_link {
	font-weight: bold;
	color: Black;
}

.wms_nowrap {
	white-space: nowrap;
}

.wmsBoxBorder {
	border: 1px solid #5C6266;
	min-height: 185px;
	margin: 0 0px 15px 0px;
}

.wmsBoxBorder:hover {
	background-color: #F9F9F9;
}

.wmsBoxLeft {
	min-width: 140px;
	width: 25%;
	border: 1px solid orange;
	margin: 20px 0px 0px -15px;
	float: left;
}

.wmsBoxRight {
	border: 1px solid green;
	min-height: 160px;
	margin: 0 0px 0px 0px;
	float: left;
}

.center {
	text-align: center;
}

canvas {
	text-align: center;
}

.container {
	margin: 0px auto;
	/*background-color: #FFF;*/
}

.wms-after-circle {
	float: left;
}

.wms-after-circle table tr th {
	/*background-color: #F9F9F9;*/
	padding-right: 5px;
}

.squareExterior {
	border: 7px solid #00B233;
	width: 80px;
	height: 80px;
	margin: 0 0 0 11px;
}

.squareInterior {
	color: #00B233;
	font-family: fantasy;
	font-size: 28px;
	padding: 13px 0 0 26px;
}