/*=======================================
Custom CSS: Global CSS Tweaks that are NOT an extension / modification of the bootstrap framework
==========================================*/

.wmsBoxFull {
	border: 1px solid #5C6266;
	margin: 0 5px 25px 5px;
}

.wmsBoxFull:hover {
	background-color: #F9F9F9;
}

.center {
	text-align: center;
}

canvas {
	text-align: center;
}

.container {
	margin: 0px auto;
	/*background-color: #FFF;*/
}

.wms-after-circle {
	float: left;
}

.wms-after-circle table tr th {
	/*background-color: #F9F9F9;*/
	padding-right: 5px;
}

.circleIntegerValue {
	display: none;
}
