<?php

# ---------------------------
# copy this file to institution.cfg.php and replace the example values
# below with the ones appropriate for you institution
# ---------------------------

define('INSTITUTION_DOMAIN', 'institution.edu');

# Used for session security
define('FINGERPRINT_SALT', 'yoursalthere');

# Application folder path
define('APP_STR',       'lti-signup-sheets');
define('APP_FOLDER',       'http://localhost/'.APP_STR);
define('APP_ROOT_PATH',       '/'.APP_STR);

# Database connection
define('DB_SERVER', 'liver_server_address');
define('DB_NAME',   'database_name');
define('DB_USER',   'db_user');
define('DB_PASS',   'db_user_password');

# ---------------------------
# LTI LMS App Settings
# ---------------------------
# LTI Name:				pretty name
# LTI Key:				your-key-name
# LTI Secret:			your-big-secret
# Configuration Type:	XML

# LTI application settings
define('LTI_APP_NAME', 'LTIYourAppName');
define('LTI_SESSION_NAME', 'PHPYourAppName');
define('LTI_FOLDER', 'lti/');
define('LTI_TOOL_CONSUMER_URL', 'https://institution.instructure.com/');
define('LTI_TOOL_CONSUMER_AUTH_TOKEN', 'Authorization: Bearer 1~TOKEN_HERE');

# LTI database connection
# TODO: Change or eliminate 'rating' DB
define('LTI_DB_NAME', 'mysql:dbname=rating;host=127.0.0.1');
define('LTI_DB_USERNAME', 'yourusername');
define('LTI_DB_PASSWORD', 'yourlivefancypassword');
define('LTI_DB_TABLENAME_PREFIX', '');

# ---------------------------
# External Content Delivery Network
# ---------------------------
# ***** Google CDN: https://developers.google.com/speed/libraries/devguide#jquery
define('PATH_JQUERY_JS', '//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js');
define('PATH_JQUERYUI_JS', '//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js');
define('PATH_JQUERYUI_CSS', '//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/dot-luv/jquery-ui.min.css');

# ---------------------------
# Local File Paths
# ---------------------------
# ***** Bootstrap: http://getbootstrap.com/
define('PATH_BOOTSTRAP_JS', APP_ROOT_PATH.'/js/bootstrap/js/bootstrap.min.js?rel=3.3.1');
define('PATH_BOOTSTRAP_CSS', APP_ROOT_PATH.'/js/bootstrap/css/bootstrap.min.css?rel=3.3.1');
# ***** Bootstrap-Bootbox: http://bootboxjs.com/ (GitHub: https://github.com/makeusabrew/bootbox/releases)
define('PATH_BOOTSTRAP_BOOTBOX_JS', APP_ROOT_PATH.'/js/jquery/plugins/bootstrap-bootbox/bootbox.min.js?rel=4.3.0');
# ***** jQuery-Validation: http://jqueryvalidation.org/
define('PATH_JQUERY_VALIDATION_JS', APP_ROOT_PATH.'js/jquery/plugins/jquery-validation/dist/jquery.validate.min.js?rel=1.13.1');

# These are used in the automated tests.
define('TESTING_DB_SERVER','localhost');
define('TESTING_DB_NAME',  'testing_database_name');
define('TESTING_DB_USER',  'testing_db_user'); // this user (whatever you call it) should have only basic SELECT, INSERT, UPDATE, DELETE privileges
define('TESTING_DB_PASS',  'testing_db_user_password');

# NOTE: It's VERY IMPORTANT to change the password (and possibly the username) for these as this user will always be authenticated!
define('TESTINGUSER','testing_user');
define('TESTINGPASSWORD','testing_password');

# ---------------------------
# External Dependency: php.ini configuration file
# ---------------------------
# TimeZone Problem: the default php.ini setting may be incorrect; correct by explicitly setting this configuration to your region
# TimeZone Solution: (Line 1044 of php.ini: Module Settings/Date/date.timezone = America/New_York)

?>