<?php

	# ---------------------------
	# configuration settings file (for command_line_scripts)
	# ---------------------------

	# LTI database connection
	define('LTI_DB_PDO_STRING', 'mysql:host=localhost;dbname=your_name_of_db');
	define('LTI_DB_HOST', 'yourserver');
	define('LTI_DB_NAME', 'your_name_of_db');
	define('LTI_DB_USERNAME', 'yourusername');
	define('LTI_DB_PASSWORD', 'yourfancypassword');
	define('LTI_DB_TABLENAME_PREFIX', '');

