/*Williams Custom CSS*/

/*=======================================
Purpose: Format page minimally for use with the jquery-plugin "printarea"
==========================================*/

@media print {
	i{display: none !important;}
}

/*=======================================
Purpose: Global CSS Tweaks that are NOT an extension / modification of the bootstrap framework
==========================================*/

#frmSignout {
	padding-top: 8px;
}

#frmSignout #submit_signout {
	margin-top: -3px;
}

.cursorPointer {
	cursor: pointer;
}

a.navbar:hover {
	background-color: #512699 !important;
}

a.wms_white {
	color: white;
}

/*create no padding/margins style*/
.nopadding {
	padding: 0 !important;
	margin: 0 !important;
}

/*wms_tiny_break*/
div.wms_tiny_break {
	max-height: 5px !important;
	/*background-color: red !important;*/
}

/*custom combo-box*/
.cb_list {
	border: 1px solid #DDD;
	overflow: auto;
	height: 90px;
	padding: 0px !important;
	margin: 0px !important;
}

/*custom combo-box: create custom padding for DIV contents inside this combo-box*/
.cb_list DIV, #wms_panel_list {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}

.wms_indent {
	margin-left: 40px;
}
.wms_indent_tiny {
	margin-left: 10px !important;
}


/*=======================================
Purpose: Edit Opening - Signup someone to an opening
==========================================*/

#signupControls {
	display: none;
}

#signupHeader {
	margin-bottom: 10px;
}

.signupSorters {
	margin-top: 16px;
}

#signupListing {
	margin-top: 16px;
}

.signup-admin-comment-display {
	margin-left: 48px;
	margin-top: -2px;
	margin-bottom: 4px;
	font-size: 11px;
	font-style: italic;
}

.own-signup {
	font-weight: bold;
}


/*=======================================
Purpose: CSS overrides pre-existing max-height, removes scrollbar; otherwise, PrintArea jQuery plugin outputs to print only what is visible within visible boundary
==========================================*/

.printareaPatch{
	margin-top: 0px !important;
	max-height: 100% !important;
	overflow-y: hidden !important;
}

/*=======================================
Purpose: Openings list styles
==========================================*/

#openings-list-container, #container-my-signups, #container-others-signups {
	margin-top: -20px;
}

#openings-list-container .opening-list-for-date, #container-my-signups .opening-list-for-date, #container-others-signups .opening-list-for-date {
	padding: 0 0 6px 10px;
	margin: 0 !important;
}

#openings-list-container .in-the-past, #container-my-signups .in-the-past, #container-others-signups .in-the-past {
	background-color: #ddd;
}

#openings-list-container .in-the-present, #container-my-signups .in-the-present, #container-others-signups .in-the-present {
	background-color: #f9fffb;
	border: 1px solid #999;
}

#openings-list-container .in-the-future, #container-my-signups .in-the-future, #container-others-signups .in-the-future {
	background-color: #f9fbff;
}

/*=======================================
Purpose: Override Bootstrap Tabs Styling: add border to tab box
==========================================*/

.tab-container {
	position: relative;
	padding: 10px;
	margin: 15px 0px;
	background-color: #FFF;
	border: 1px solid #DDD;
	box-shadow: none;
}

/* modify container padding */
.tab-container.wms_print_MySignups, .tab-container.wms_print_OnMySheets {
	padding: 15px 0px 0px 0px;
}
UL#boxMySignupsHeader, UL#boxSignupsOnMySheetsHeader {
	padding: 0px 11px;
}

/*=======================================
Purpose: Placement for extra buttons
==========================================*/

#buttons_list_openings {
	margin: -44px 0px 29px 291px;
	white-space: nowrap;
}

#buttons_my_signups, #buttons_on_my_sheets {
	position: relative;
	top: -25px;
	right: 8px;
	text-align: right;
	white-space: nowrap;
}

#tabMySignups, #tabOthersSignups{
	margin-top: -15px;
}

/*=======================================
Purpose: Extend/customize the 'Bootstrap-Calendar' plugin
==========================================*/

/* help force 'create openings' link into top left corner */
.addOpeningLink {
	margin-top: 5px;
	margin-right: 3px;
}

.calendar-cell-openings {
	clear: both;
	font-size: 11px;
	background-color: transparent;
	position: relative;
	top: 3px;
	right: 6px;
	padding: 1px;
}

.calendar-cell-openings h4, .calendar-cell-openings .calendar-cell-openings-container {
	display: none;
}

.calendar-cell-openings:hover {
	width: 265px;
	min-height: 3px;
	z-index: 10;
	background-color: #ffffff;
	border: 1px solid #666;
	padding: 5px;
	margin-top: -5px;
	margin-right: -5px;
	float: right;
}

.calendar-cell-openings h4, .calendar-cell-openings:hover .calendar-cell-openings-container {
	display: inline-block;
	margin-top: 0px !important;
	padding-top: 0px !important;
}

.calendar-cell-openings-container {
	font-size: 11px;
	padding: 4px;
}

.calendar-cell-openings-container h4 {
	padding-bottom: 10px;
}

/* make calendar date numbers smaller */
span[data-cal-date] {
	margin-top: 5px !important;
	margin-right: 5px !important;
	font-size: inherit !important;
}

/* make today's calendar date bold */
.cal-month-box .cal-day-today span[data-cal-date] {
	font-weight: bold !important;
}

/* remove annoying weekly display tab */
#cal-week-box {
	display: none !important;
}

.cal-cell {
	min-height: 65px !important;
	height: 65px !important;
}

.cal-month-day {
	min-height: 65px !important;
	height: 65px !important;
}

.opening-space-usage {
	margin-left: 3px;
	margin-right: 3px;
}

.sus-delete-signup {
	background-color: transparent;
	margin-right: 5px;
	padding: 1px 2px 0px 3px;
	border: 1px solid transparent;
	color: #ff0000;
}

.sus-delete-signup:hover {
	background-color: #EBEBEB;
	border: 1px solid #D1D1D1;
	color: #ff0000;
}

/* opening control links (edit, delete, add signup) */
.sus-edit-opening, .sus-edit-signup {
	background-color: transparent;
	padding: 1px 2px 0px 3px;
	border: 1px solid transparent;
}

.sus-edit-opening:hover, .sus-edit-signup:hover {
	background-color: #EBEBEB;
	border: 1px solid #D1D1D1;
}

.sus-delete-opening {
	background-color: transparent;
	padding: 1px 3px 0px 3px;
	border: 1px solid transparent;
	color: #ff0000;
}

.sus-delete-opening:hover {
	background-color: #EBEBEB;
	border: 1px solid #D1D1D1;
	color: #ff0000;
}

.sus-add-someone-to-opening {
	background-color: transparent;
	padding: 1px 2px 0px 3px;
	border: 1px solid transparent;
}

.sus-add-someone-to-opening:hover {
	background-color: #EBEBEB;
	border: 1px solid #D1D1D1;
}

/* classes for renderAsHtmlOpeningWithLimitedControls */
.sus-add-me-to-opening {
	background-color: transparent;
	padding: 1px 2px 0px 3px;
	border: 1px solid transparent;
}

.sus-add-me-to-opening:hover {
	background-color: #EBEBEB;
	border: 1px solid #D1D1D1;
}

.sus-delete-me-from-opening {
	background-color: transparent;
	padding: 1px 2px 0px 3px;
	border: 1px solid transparent;
	color: #ff0000;
}

.sus-delete-me-from-opening:hover {
	background-color: #EBEBEB;
	border: 1px solid #D1D1D1;
	color: #ff0000;
}

/* modal with basic instructions */
.wms-demo-add {
	white-space: nowrap;
	background-color: transparent;
	padding: 1px 2px 0px 3px;
	border: 1px solid transparent;
}

.wms-demo-add:hover {
	background-color: #EBEBEB;
	border: 1px solid #D1D1D1;
}


.wms-demo-delete {
	white-space: nowrap;
	background-color: transparent;
	padding: 1px 2px 0px 3px;
	border: 1px solid transparent;
	color: #ff0000;
}

.wms-demo-delete:hover {
	background-color: #EBEBEB;
	border: 1px solid #D1D1D1;
	color: #ff0000;
}

/* close x for DOM overlay */
#wms_demo_close_x{
	position: relative;
	top: -12px;
	right: -8px;
}

.wms-custom-datepicker{
	background-color: #ffffff !important;
	border: 1px solid #A9A9A9 !important;;
}

/* ensure uniform btn sizes for repeating days of week */
.toggler_dow {
	width: 40px !important;
	min-width: 40px !important;
	max-width: 40px !important;
	margin: 2px 0px !important; /* top/bottom, right/left*/
}

/* ensure uniform btn sizes for repeating days of month */
.toggler_dom {
	width: 26px !important;
	min-width: 26px !important;
	max-width: 26px !important;
	margin: 2px 0px !important;
}

/*=======================================
Purpose: Extend/customize 'Bootstrap' CSS framework
==========================================*/

/*add a placeholder to prevent page content from shifting to accommodate the scrollbar*/
HTML {
	overflow-y: scroll;
}

H1, H2, H3, H4, H5 {
	margin-bottom: 0;
}

.btn.btn-link.btn-cancel, .btn-link.btn-cancel {
	color: #d15545 !important;
}

.form-horizontal .control-group .display-only-controls {
	padding-top: 5px;
}

/* change default muddy red to bright red */
.text-danger {
	color: #F70000;
}

/* change default muddy greem to bright green */
.text-success {
	color: #008000;
}

/*validation.js hack: to eliminate extra space after dynamic validation occurs */
div.form-group.success {
	margin-bottom: 0px !important;
}

/*create an indented, no-bulleted UL style for bootstrap.css*/
UL.unstyled LI, OL.unstyled LI {
	list-style-type: none;
	margin-left: 0px;
}

UL.wms-signups {
	margin: 0;
	padding-left: 25px;
	display: inline-block;
}

UL.wms-signups LI {
	list-style-type: disc;
}

/* Bootstrap positioning for message alert box for UI output of AJAX actions success/failure */
#page_alert_div {
	z-index: 2000; /* must be > 1040 which is default z-index of bootstrap modal */
	position: fixed;
	top: 60px;
	right: 20px;
	width: 400px;
}

/* remove dotted line around the clicked "A" element */
UL.nav.nav-tabs LI A {
	outline: none;
}

/* add padding between tab links and text content */
.tab-pane {
	padding-top: 15px;
}


/*=======================================*/
/*Purpose: Legacy CSS to Extend/customize the CSS for jQuery 'validation.js' plugin
/*=======================================*/
LABEL.valid {
	width: 24px;
	height: 24px;
	background: url(../img/valid.png) no-repeat center center;
	display: inline-block;
	text-indent: -9999px;
}

LABEL.error {
	font-weight: bold;
	color: #ff0000;
	padding: 2px 8px;
	margin-top: 2px;
}

.text-warning {
	color: #E17823;
}


