/*=======================================*/
/* General CSS Tweaks (sitewide) */
/*=======================================*/

a.navbar:hover {
	background-color: #512699 !important;
}

a.wms_white {
	color: white;
}

/*create no padding/margins style*/
.nopadding {
	padding: 0 !important;
	margin: 0 !important;
}

/*wms_tiny_break*/
div.wms_tiny_break {
	max-height: 5px !important;
	/*background-color: red !important;*/
}

/*custom combo-box*/
.cb_list {
	border: 1px solid #DDD;
	overflow: auto;
	height: 80px;
	padding: 0px !important;
	margin: 0px !important;
}

/*custom combo-box: create custom padding for DIV contents inside this combo-box*/
.cb_list DIV, #wms_panel_list {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}

.wms-indent{
	margin-left: 25px;
}

/*=======================================
wms bootstrap-calendar-master extensions
==========================================*/

/* help force 'create openings' link into top left corner */
.addOpeningLink {
	margin-top: 5px;
	margin-right: 3px;
}

.calendar-cell-openings {
	clear: both;
	/*float: right;*/
	font-size: 11px;
	background-color: transparent;
	position: relative;
	top: 3px;
	right: 6px;
	padding: 1px;
}

.calendar-cell-openings h4, .calendar-cell-openings .calendar-cell-openings-container {
	display: none;
}

.calendar-cell-openings:hover {
	width: 265px;
	min-height: 3px;
	z-index: 10;
	background-color: #ffffff;
	border: 1px solid #666;
	padding: 5px;
	margin-top: -5px;
	margin-right: -5px;
	float: right;
}

.calendar-cell-openings h4, .calendar-cell-openings:hover .calendar-cell-openings-container {
	display: inline-block;
	margin-top: 0px !important;
	padding-top: 0px !important;
}

.calendar-cell-openings-container {
	font-size: 11px;
	padding: 4px;
}

.calendar-cell-openings-container h4 {
	/*display: none;*/
	padding-bottom: 10px;
}

.opening-space-usage {
	margin-left: 3px;
	margin-right: 3px;
	color: #008000;
}

/* opening control links (edit, delete, add signup) */
.sus-edit-opening, .sus-edit-signup {
	margin-left: 1px;
	margin-right: 1px;
	padding: 0px 3px;
}

.sus-edit-opening:hover, .sus-edit-signup:hover {
	background-color: #57D283;
}

.sus-delete-opening {
	margin-left: 1px;
	margin-right: 1px;
	padding: 0px 3px;
	color: #ff0000;
}

.sus-delete-opening:hover {
	background-color: #F7A9AD;
	color: #ff0000;
}

.sus-delete-signup {
	margin-right: 5px;
	padding: 0px 3px;
	border: none;
	background-color: transparent;
	color: #ff0000;
}

.sus-delete-signup:hover {
	background-color: #F7A9AD;
	color: #ff0000;
}

.sus-add-someone-to-opening {
	margin-left: 1px;
	margin-right: 1px;
	padding: 0px 3px;
}

.sus-add-someone-to-opening:hover {
	background-color: #57D283;
}

/* modal: Edit Opening / Signups */
.wms-custom-add {
	margin: 0px 1px;
	padding: 0px 3px;
}

.wms-custom-add:hover {
	background-color: #57D283;
}

.wms-custom-delete {
	margin: 0px 1px;
	padding: 0px 3px;
	color: #ff0000;
}

.wms-custom-delete:hover {
	background-color: #F7A9AD;
	color: #ff0000;
}

/* classes for renderAsHtmlShortWithLimitedControls */
.sus-add-me-to-opening {
}

.sus-add-me-to-opening:hover {
	background-color: #57D283;
}

.sus-delete-me-from-opening {
	color: #ff0000;
}

.sus-delete-me-from-opening:hover {
	background-color: #F7A9AD;
	color: #ff0000;
}

/* ensure uniform btn sizes for repeating days of week */
.toggler_dow {
	width: 40px !important;
	min-width: 40px !important;
	max-width: 40px !important;
	margin: 2px 0px !important; /* top/bottom, right/left*/
}

/* ensure uniform btn sizes for repeating days of month */
.toggler_dom {
	width: 26px !important;
	min-width: 26px !important;
	max-width: 26px !important;
	margin: 2px 0px !important; /* top/bottom, right/left*/
}

/*=======================================
Edit Opening: Signup someone to an opening
==========================================*/
#signupControls {
	display: none;
}

#signupHeader {
	margin-bottom: 10px;
}

.signupSorters {
	margin-top: 16px;
}

#signupListing {
	margin-top: 16px;
}

.signup-admin-comment-display {
	margin-left: 48px;
	margin-top: -2px;
	margin-bottom: 4px;
	font-size: 11px;
	font-style: italic;
}

.own-signup {
	font-weight: bold;
}

/*=======================================
wms bootstrap-calendar-master overrides
==========================================*/
/* make calendar date numbers smaller */
span[data-cal-date] {
	margin-top: 5px !important;
	margin-right: 5px !important;
	font-size: inherit !important;
}

/* make today's calendar date bold */
.cal-month-box .cal-day-today span[data-cal-date] {
	font-weight: bold !important;
}

/* remove annoying weekly display tab */
#cal-week-box {
	display: none !important;
}

.cal-cell {
	min-height: 65px !important;
	height: 65px !important;
}

.cal-month-day {
	min-height: 65px !important;
	height: 65px !important;
}

/*=======================================*/
/* openings list styles */
/*=======================================*/

#openings-list-container, #container-my-signups, #container-others-signups {
	margin-top: -20px;
	max-height: 591px;
	overflow-y: scroll;
	position: relative;
}

#openings-list-container .opening-list-for-date, #container-my-signups .opening-list-for-date, #container-others-signups .opening-list-for-date {
	padding: 0 0 6px 10px;
	margin: 0 !important;
}

#openings-list-container .in-the-past, #container-my-signups .in-the-past, #container-others-signups .in-the-past {
	background-color: #ddd;
	/*border: 1px solid #fff;*/
}

#openings-list-container .in-the-present, #container-my-signups .in-the-present, #container-others-signups .in-the-present {
	background-color: #f9fffb;
	border: 1px solid #999;
}

#openings-list-container .in-the-future, #container-my-signups .in-the-future, #container-others-signups .in-the-future {
	background-color: #f9fbff;
	/*border: 1px solid #fff;*/
}

/* button ids: scroll to 'current date' */
#scroll-to-todayish-openings {
	margin: -94px 0 0 300px;
}

#scroll-to-todayish-my-signups {
	margin: -81px 0 0 160px;
}

#scroll-to-todayish-others-signups {
	margin: -81px 0 0 190px;
}

/*toggle links: show optional details*/
a#link_for_opening_details_1 {
	margin: -121px 0 0 250px;
}
#link_for_opening_details_2 {
	margin: -121px 0 0 280px;
}

/*=======================================
Bootstrap.css tweaks are below
==========================================*/

/*validation.js hack: to eliminate extra space after dynamic validation occurs */
div.form-group.success {
	margin-bottom: 0px !important;
}

/*create an indented, no-bulleted UL style for bootstrap.css*/
UL.unstyled LI, OL.unstyled LI {
	list-style-type: none;
	margin-left: 0px;
}

UL.wms-signups {
	margin: 0;
	padding-left: 25px;
	display: inline-block;
}
UL.wms-signups LI {
	list-style-type: disc;
}

/*=======================================*/
/* Bootstrap positioning for message alert box for UI output of AJAX actions success/failure */
/*=======================================*/

/* position placeholder message alert box */
#page_alert_div {
	z-index: 2000; /* must be > 1040 which is default z-index of bootstrap modal */
	position: fixed;
	top: 60px;
	right: 20px;
	width: 400px;
}

/*=======================================*/
/* Bootstrap Tabs Styling */
/*=======================================*/

/* add border to tab box */
.tab-container {
	position: relative;
	padding: 15px;
	margin: 15px 0px;
	background-color: #FFF;
	border: 1px solid #DDD;
	box-shadow: none;
}

/* remove dotted line around the clicked "A" element */
UL.nav.nav-tabs LI A {
	outline: none;
}

/* add padding between tab links and text content */
.tab-pane {
	padding-top: 15px;
}

/* TODO - REVIEW STUFF BELOW THIS LIND AND REMOVE OBSOLETE STUFF */
/*=======================================*/
/*PRE 2014 EQR Historical CSS Tweaks*/
/*=======================================*/
LABEL.valid {
	width: 24px;
	height: 24px;
	background: url(../img/valid.png) no-repeat center center;
	display: inline-block;
	text-indent: -9999px;
}

LABEL.error {
	font-weight: bold;
	color: #ff0000;
	padding: 2px 8px;
	margin-top: 2px;
	/*padding: 0px !important;*/
	/*margin: 0px !important;*/
}

.text-warning {
	color: #E17823;
}

/*=======================================
Patch For: bootstrap.css
Purpose: Williams custom tweaks to bootstrap.css
==========================================
add a placeholder to prevent page content from shifting to accommodate the scrollbar*/
HTML {
	overflow-y: scroll;
}

H1, H2, H3, H4, H5 {
	margin-bottom: 0;
}

.btn.btn-link.btn-cancel, .btn-link.btn-cancel {
	color: #d15545 !important;
}

.form-horizontal .control-group .display-only-controls {
	padding-top: 5px;
}

/*=======================================
Williams Custom CSS
Purpose: CSS that's NOT an extension / modification of the bootstrap framework
==========================================*/

/***********************************************************************************/
/* GLOBAL */

#frmSignout {
	padding-top: 8px;
}

#frmSignout #submit_signout {
	margin-top: -3px;
}

.cursorPointer {
	cursor: pointer;
}

.ordering-controls-up-down {
	display: inline-block;
}

.ordering-controls-up-down a.btn,
.ordering-controls-up-down a.btn i {
	margin: 0 !important;
	padding: 0 !important;
	font-size: 10px !important;
	line-height: 10px !important;
}

.ordering-controls-up-down a.btn {
	margin-top: -4px !important;
}
