/*=======================================*/
/* General CSS Tweaks (sitewide) */
/*=======================================*/

a.navbar:hover {
	background-color: #512699 !important;
}

a.wms_white {
	color: white;
}

/*create no padding/margins style*/
.nopadding {
	padding: 0 !important;
	margin: 0 !important;
}

/*wms_tiny_break*/
div.wms_tiny_break {
	max-height: 5px !important;
	/*background-color: red !important;*/
}

/*custom combo-box*/
.cb_list {
	border: 1px solid #DDD;
	overflow: auto;
	height: 80px;
	padding: 0px !important;
	margin: 0px !important;
}

/*custom combo-box: create custom padding for DIV contents inside this combo-box*/
.cb_list DIV, #wms_panel_list {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}

/*=======================================
wms bootstrap-calendar-master extensions
==========================================*/

.calendar-cell-openings {
	font-size: 11px;
	width: 20px;
	height: 20px;
	background-color: green;
	margin-top: 3px;
	margin-left: 3px;
	position: relative;
	top: 3px;
	left: 3px;
}

.calendar-cell-openings h4,
.calendar-cell-openings .calendar-cell-openings-container {
	display: none;
}

.calendar-cell-openings:hover {
	width: 200px;
	height: 200px;
	z-index: 10;
	background-color: #fff;
	border: 1px solid #666;
	padding: 4px;
}

.calendar-cell-openings:hover .calendar-cell-openings-container {
	display: inline-block;
	margin-top: 0px !important;
	padding-top: 0px !important;
	float: left;
}

.opening-space-usage {
	padding-left: 3px;
}

.edit-opening-link {
	padding-right: 3px;
}

.delete-opening-link, .delete-opening-link:hover {
	padding-right: 3px;
	color: #ff0000;
}

/*=======================================
wms bootstrap-calendar-master overrides
==========================================*/
/* make date numbers within calendar smaller */
span[data-cal-date] {
	margin-top: 5px !important;
	margin-right: 5px !important;
	font-size: inherit !important;
}

.cal-month-box .cal-day-today span[data-cal-date] {
	font-size: 1.2em !important;
	font-weight: bold !important;
}

/* remove annoying weekly display tab */
#cal-week-box {
	display: none !important;
}

/*=======================================
Bootstrap.css tweaks are below
==========================================*/

/*validation.js hack: to eliminate extra space after dynamic validation occurs */
div.form-group.success {
	margin-bottom: 0px !important;
}

/*create an indented, no-bulleted UL style for bootstrap.css*/
UL.unstyled LI, OL.unstyled LI {
	list-style-type: none;
	margin-left: 0px;
}

/*=======================================*/
/* Bootstrap positioning for message alert box for UI output of AJAX actions success/failure */
/*=======================================*/

/* position placeholder message alert box */
#page_alert_div {
	z-index: 1;
	position: fixed;
	top: 60px;
	right: 20px;
	width: 400px;
}

/*=======================================*/
/* Bootstrap Tabs Styling */
/*=======================================*/

/* add border to tab box */
.tab-container {
	position: relative;
	padding: 15px;
	margin: 15px 0px;
	background-color: #FFF;
	border: 1px solid #DDD;
	box-shadow: none;
}

/* remove dotted line around the clicked "A" element */
UL.nav.nav-tabs LI A {
	outline: none;
}

/* add padding between tab links and text content */
.tab-pane {
	padding-top: 15px;
}

/* TODO - REVIEW STUFF BELOW THIS LIND AND REMOVE OBSOLETE STUFF */
/*=======================================*/
/*PRE 2014 EQR Historical CSS Tweaks*/
/*=======================================*/
LABEL.valid {
	width: 24px;
	height: 24px;
	background: url(../img/valid.png) no-repeat center center;
	display: inline-block;
	text-indent: -9999px;
}

LABEL.error {
	font-weight: bold;
	color: #ff0000;
	padding: 2px 8px;
	margin-top: 2px;
	/*padding: 0px !important;*/
	/*margin: 0px !important;*/
}

.text-warning {
	color: #E17823;
}

/*=======================================
Patch For: bootstrap.css
Purpose: Williams custom tweaks to bootstrap.css
==========================================
add a placeholder to prevent page content from shifting to accommodate the scrollbar*/
HTML {
	overflow-y: scroll;
}

H1, H2, H3, H4, H5 {
	margin-bottom: 0;
}

.btn.btn-link.btn-cancel, .btn-link.btn-cancel {
	color: #d15545 !important;
	/*red-orange*/
}

.form-horizontal .control-group .display-only-controls {
	padding-top: 5px;
}

/*=======================================
Williams Custom CSS
Purpose: CSS that's NOT an extension / modification of the bootstrap framework
==========================================*/

/***********************************************************************************/
/* GLOBAL */

#frmSignout {
	padding-top: 8px;
}

#frmSignout #submit_signout {
	margin-top: -3px;
}

.cursorPointer {
	cursor: pointer;
}

a.show-hide-control {
	font-size: 10px;
	text-decoration: underline;
}

.ordering-controls-up-down {
	display: inline-block;
}

.ordering-controls-up-down a.btn,
.ordering-controls-up-down a.btn i {
	margin: 0 !important;
	padding: 0 !important;
	font-size: 10px !important;
	line-height: 10px !important;
}

.ordering-controls-up-down a.btn {
	margin-top: -4px !important;
}

/***********************************************************************************/
/* general embedding */

.embedded {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border-width: 1px;
	border-color: #999;
	border-style: solid;

	padding: 16px;
	margin: 12px 0;
}

.embedded h1,
.embedded h2,
.embedded h3,
.embedded h4,
.embedded h5 {
	margin-top: 0 !important;
}

.embedded h3 {
	font-size: 18px;
	line-height: 30px;
}

.embedded h3 input {
	margin-bottom: 0 !important;
	font-size: 18px !important;
	height: 30px !important;
	width: 300px;
	padding-top: 0 !important;
	padding-bottom: 0 !important;
	margin-top: -2px !important;
}

.embedded img {
	max-width: 180px;
	max-height: 180px;
}

.embedded .details-info {
	display: none;
}

/***********************************************************************************/
/* home page */

.splash-links {
	width: 800px;
	margin: 0 auto !important;
}

.splash-links a.splash-link {
	font-weight: bold;
	font-size: 20px;
	margin: 0 12px;
}

/*-------------------------
confirmation dialog*/
.confirmationDialog {
	border-width: 3px;
	background-color: #FEB;
	padding-bottom: 8px;
	font-weight: bold;
}

.confirmationDialog .modal-header {
	border: none;
	padding: 0;
}

.confirmationDialog .modal-header .close {
	width: 20px;
	height: 20px;
	margin: 6px 8px 0 0;
	padding: 0;
	color: #700;
	border: 1px solid #700;
	text-align: center;
	vertical-align: middle;
	/*text-shadow: none;*/
	opacity: .9;
	filter: alpha(opacity=90);
	background-color: #DCC;
}

.confirmationDialog .modal-header .close:hover {
	color: #B00;
	background-color: #EBB;
}

.confirmationDialog .modal-body {
	padding-bottom: 0;
	border: none;
}

.confirmationDialog .modal-footer {
	text-align: center;
	padding: 6px;
	border-width: 0;
	background: none;
	box-shadow: none;
	-webkit-box-shadow: none;
}

.confirmationDialog .modal-footer .btn {
	margin: 0 24px;
}
