<?php

	# ---------------------------
	# copy this file to institution.cfg.php and replace the example values
	# below with the ones appropriate for you institution
	# ---------------------------

	# Application folder path
	define('APP_STR',       'folder/subdirectory');
	define('APP_FOLDER',    'http://localhost/' . APP_STR); // Use HTTPS for live/staging servers!
	define('APP_ROOT_PATH', '/' . APP_STR);

	# Institution Name
	define('LANG_INSTITUTION_NAME', 'Your Institution');

	# LTI application settings
	define('LTI_APP_NAME',     'LTIYourAppName');
	define('LTI_FOLDER',       'lti/');

	# LTI database connection
	define('LTI_DB_NAME',     'mysql:host=localhost;dbname=your_name_of_db');
	define('LTI_DB_USERNAME', 'yourusername');
	define('LTI_DB_PASSWORD', 'yourfancypassword');
	define('LTI_DB_TABLENAME_PREFIX', '');

