<?php

	# ---------------------------
	# configuration settings file (for the desired 'releases' subfolder)
	# ---------------------------

	# Application folder path
	define('APP_STR',       'folder/subdirectory');
	define('APP_FOLDER',    'http://localhost/' . APP_STR); // Use HTTPS for live/staging servers!
	define('APP_ROOT_PATH', '/' . APP_STR);

	# Institution Name
	define('LANG_INSTITUTION_NAME', 'Your Institution'); // ie ACME College
	define('LANG_INSTITUTION_NAME_SHORT', 'Institution'); // ie ACME
	define('LANG_AUTHOR_NAME', 'Your Name');

	# LTI application settings
	define('LTI_APP_NAME',     'LTI Your App Name');
	define('LTI_FOLDER',       'lti/');
	define('TOOL_CONSUMER_URL', 'https://test.acme.com/');
	define('TOOL_CONSUMER_AUTH_TOKEN', 'none');
	define('PUBLIC_IMAGES_FOLDER', 'http://placekitten.com.s3.amazonaws.com/homepage-samples/200/');
	define('DEFAULT_TIMEZONE', 'America/New_York'); // set timezone to keep php from complaining

	# LTI (default) database connection
	define('LTI_DB_PDO_STRING', 'mysql:host=localhost;dbname=your_name_of_db');
	define('LTI_DB_HOST', 'yourserver');
	define('LTI_DB_NAME', 'your_name_of_db');
	define('LTI_DB_USERNAME', 'yourusername');
	define('LTI_DB_PASSWORD', 'yourfancypassword');
	define('LTI_DB_TABLENAME_PREFIX', '');

	# Moodle database connection
	define('MOODLE_DB_PDO_STRING', 'mysql:host=localhost;dbname=your_name_of_db');
	define('MOODLE_DB_HOST', 'yourserver');
	define('MOODLE_DB_NAME', 'your_name_of_db');
	define('MOODLE_DB_USERNAME', 'yourusername');
	define('MOODLE_DB_PASSWORD', 'yourfancypassword');
	define('MOODLE_DB_TABLENAME_PREFIX', '');

	# ---------------------------
	# External Content Delivery Network
	# ---------------------------
	# ***** Google CDN: https://developers.google.com/speed/libraries/devguide#jquery
	define('PATH_JQUERY_JS', '//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js');
	define('PATH_JQUERYUI_JS', '//ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js');
	define('PATH_JQUERYUI_CSS', '//ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.min.css');

	# ---------------------------
	# Local File Paths
	# ---------------------------
	# ***** Bootstrap: http://getbootstrap.com/
	define('PATH_BOOTSTRAP_JS', APP_ROOT_PATH . '/js/bootstrap/js/bootstrap.min.js?rel=3.3.5');
	define('PATH_BOOTSTRAP_CSS', APP_ROOT_PATH . '/js/bootstrap/css/bootstrap.min.css?rel=3.3.5');
	# ***** jquery-circleGraphic: https://github.com/Wuyue54/circleGraphic
	define('PATH_JQUERY_CIRCLEGRAPHIC_JS', APP_ROOT_PATH . '/js/jquery/plugins/jquery-circleGraphic/jquery.circleGraphic.js?rel=1.0.0&github_commit_date=20160119');
